<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743596881184-cbecfa91ap22b2mn8ar3kfmgeffh35ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743596881184-cbecfa91ap22b2mn8ar3kfmgeffh35ur</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>743596881184-8m2425lv6bacev1vqcb62iq1uq03un0h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPLGqnKL55_XQqPeoO2-YyXyq51rfS_GY</string>
	<key>GCM_SENDER_ID</key>
	<string>743596881184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MovieDBAdvance</string>
	<key>PROJECT_ID</key>
	<string>moviedb-rtk</string>
	<key>STORAGE_BUCKET</key>
	<string>moviedb-rtk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743596881184:ios:e9389361cd65c0bae61345</string>
</dict>
</plist>